go 1.25
toolchain go1.25.7

use (
	./auth
	./classifier
	./crawler
	./index-manager
	./infrastructure
	./mcp-north-cloud
	./nc-http-proxy
	./pipeline
	./publisher
	./search
	./source-manager
	./tests/integration/pipeline
)
