VITE_AUTH_URL=http://localhost:8040
VITE_SOURCE_MANAGER_URL=http://localhost:8050
VITE_CRAWLER_URL=http://localhost:8080
VITE_PUBLISHER_URL=http://localhost:8070
VITE_CLASSIFIER_URL=http://localhost:8070
VITE_INDEX_MANAGER_URL=http://localhost:8090
VITE_SEARCH_URL=http://localhost:8092
VITE_GRAFANA_URL=http://localhost:3000
