# Git
.git
.gitignore
.gitattributes

# Documentation
README.md
*.md
docs/

# IDE
.idea
.vscode
.cursor
*.swp
*.swo

# Docker
Dockerfile*
docker-compose.yml
.dockerignore

# Dev container
.devcontainer
.ddev/

# Drupal files (managed by Composer)
web/core/
web/vendor/
web/modules/contrib/
web/themes/contrib/
web/libraries/
vendor/

# Drupal configuration (may contain sensitive info)
web/sites/*/settings*.php
web/sites/*/services*.yml

# Drupal user-generated content
web/sites/*/files/
web/sites/*/private/
web/sites/simpletest/

# Config files - allow these for Dockerfile builds
# php.ini, nginx.conf, www.conf, start.sh, composer.json, composer.lock are needed
# They will be copied into the image during build

# Misc
.DS_Store
*.log
.editorconfig
rector.php
recipes/
